<IfModule mod_rewrite.c>
    RewriteEngine on
    
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond $1 !^(index\.php|robots\.txt|public|plugins|backup|upload|recommend_img|image|runtime|install)
    RewriteRule ^(.*)$ index.php?/$1 [QSA,PT,L]

</IfModule>